# Creating 10 hypothesis based on given dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("general_data.csv")

In [52]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [67]:
df.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4410.000000,4410.000000,4410.000000,4410.0,4410.000000,4410.000000,4410.000000,4391.000000,4410.000000,4410.0,4410.000000,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000
mean,36.923810,9.192517,2.912925,1.0,2205.500000,2.063946,65029.312925,2.694830,15.209524,8.0,0.793878,11.279936,2.799320,7.008163,2.187755,4.123129
std,9.133301,8.105026,1.023933,0.0,1273.201673,1.106689,47068.888559,2.498887,3.659108,0.0,0.851883,7.782222,1.288978,6.125135,3.221699,3.567327
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1103.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2205.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3307.750000,3.000000,83800.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4410.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

### Hypothesis 1.
__Attrition rate is high, people whose martial status is single are tend to leave the company more__

In [43]:
Martial_status = df.groupby(['MaritalStatus']) 
Martial_status['Attrition'].value_counts()

MaritalStatus  Attrition
Divorced       No            882
               Yes            99
Married        No           1767
               Yes           252
Single         No           1050
               Yes           360
Name: Attrition, dtype: int64

In [44]:
Martial_status['Attrition'].value_counts().loc['Single']

Attrition
No     1050
Yes     360
Name: Attrition, dtype: int64

### Hypothesis 2.
__Attrition rate is found to to high where the employees working are from Research & Development__

In [126]:
Department_status = df.groupby(['Department'])
Department_status['Attrition'].value_counts()

Department              Attrition
Human Resources         No            132
                        Yes            57
Research & Development  No           2430
                        Yes           453
Sales                   No           1137
                        Yes           201
Name: Attrition, dtype: int64

In [127]:
Department_status['Attrition'].value_counts().loc['Research & Development']

Attrition
No     2430
Yes     453
Name: Attrition, dtype: int64

### Hypothesis 3.

__Attrition rate is high where the percentsalaryhike is found to be less than or equal to 15%__

In [29]:
PercentSalaryHike_attrition = df.groupby(['PercentSalaryHike'])
PercentSalaryHike_attrition['Attrition'].value_counts()

PercentSalaryHike  Attrition
11                 No           540
                   Yes           90
12                 No           504
                   Yes           90
13                 No           525
                   Yes          102
14                 No           516
                   Yes           87
15                 No           240
                   Yes           63
16                 No           204
                   Yes           30
17                 No           201
                   Yes           45
18                 No           228
                   Yes           39
19                 No           186
                   Yes           42
20                 No           138
                   Yes           27
21                 No           117
                   Yes           27
22                 No           138
                   Yes           30
23                 No            69
                   Yes           15
24                 No            54
                   Yes            9
25                 No            39
                   Yes           15
Name: Attrition, dtype: int64

### Hypothesis 4.
__People leaving the company have their average age around 33 yrs, as a result attrition rate is high__

In [26]:
Attrtion_age = df.groupby('Attrition')

Attrtion_age.get_group('Yes')['Age'].mean()

33.607594936708864

In [22]:
Attrtion_age.get_group('No')['Age'].mean()

37.561232765612324

### Hypothesis 5.
__Majority of the people leaving company or causing attrition are of job level less than or equal to 3 (grade)__

In [49]:
JobLevel_status = df.groupby(['JobLevel'])
JobLevel_status['Attrition'].value_counts()

JobLevel  Attrition
1         No           1377
          Yes           252
2         No           1317
          Yes           285
3         No            558
          Yes            96
4         No            267
          Yes            51
5         No            180
          Yes            27
Name: Attrition, dtype: int64

### Hypothesis 6.
__Attrition rate is high with the employees who have number_of_companies_worked(changing company) is less than 5yrs__

In [69]:
Companies_worked_status = df.groupby(['NumCompaniesWorked'])
Companies_worked_status['Attrition'].value_counts().loc[0:5,]

NumCompaniesWorked  Attrition
0.0                 No            517
                    Yes            69
1.0                 No           1265
                    Yes           293
2.0                 No            390
                    Yes            48
3.0                 No            426
                    Yes            48
4.0                 No            365
                    Yes            50
5.0                 No            141
                    Yes            46
Name: Attrition, dtype: int64

In [72]:
C = df.groupby(['Attrition'])
C['NumCompaniesWorked'].value_counts().loc['Yes']

NumCompaniesWorked
1.0    293
0.0     69
7.0     51
4.0     50
2.0     48
3.0     48
6.0     48
5.0     46
9.0     36
8.0     18
Name: NumCompaniesWorked, dtype: int64

### Hypothesis 7.
__Attrition rate is low with employees having experience more than 15yrs__

In [76]:
TotalWorkingYears_status = df.groupby(['TotalWorkingYears'])
TotalWorkingYears_status['Attrition'].value_counts().loc[0:5,]

TotalWorkingYears  Attrition
0.0                No            18
                   Yes           15
1.0                No           123
                   Yes          119
2.0                No            66
                   Yes           27
3.0                No            99
                   Yes           27
4.0                No           153
                   Yes           36
5.0                No           216
                   Yes           48
Name: Attrition, dtype: int64

In [88]:
T = df.groupby(['Attrition'])
T['TotalWorkingYears'].value_counts().loc['Yes'][::-1]

TotalWorkingYears
34.0      3
33.0      3
31.0      3
28.0      3
26.0      3
25.0      3
21.0      3
40.0      6
23.0      6
22.0      6
20.0      6
24.0      9
19.0      9
17.0      9
16.0      9
13.0      9
18.0     12
14.0     12
15.0     15
12.0     15
0.0      15
11.0     21
3.0      27
2.0      27
9.0      30
4.0      36
8.0      47
5.0      48
7.0      54
6.0      66
10.0     75
1.0     119
Name: TotalWorkingYears, dtype: int64

### Hypothesis 8.
__Attrition rate is high with people having eductional background with Life science and Medical field__

In [90]:
EducationField_status = df.groupby(['EducationField'])
EducationField_status['Attrition'].value_counts()

EducationField    Attrition
Human Resources   No             48
                  Yes            33
Life Sciences     No           1515
                  Yes           303
Marketing         No            402
                  Yes            75
Medical           No           1167
                  Yes           225
Other             No            216
                  Yes            30
Technical Degree  No            351
                  Yes            45
Name: Attrition, dtype: int64

In [92]:
E = df.groupby(['Attrition'])
E['EducationField'].value_counts().loc['Yes']

EducationField
Life Sciences       303
Medical             225
Marketing            75
Technical Degree     45
Human Resources      33
Other                30
Name: EducationField, dtype: int64

### Hypothesis 9.
__Attition rate is high as a result of more male employees leaving the company__

In [110]:
Attrtion_Gender = df.groupby('Attrition')

Attrtion_Gender.get_group('Yes')['Gender'].value_counts()

441

In [150]:
Job_role_status = df.groupby(['JobRole'])
Job_role_status['Attrition'].value_counts()

JobRole                    Attrition
Healthcare Representative  No           336
                           Yes           57
Human Resources            No           135
                           Yes           21
Laboratory Technician      No           651
                           Yes          126
Manager                    No           264
                           Yes           42
Manufacturing Director     No           387
                           Yes           48
Research Director          No           183
                           Yes           57
Research Scientist         No           717
                           Yes          159
Sales Executive            No           813
                           Yes          165
Sales Representative       No           213
                           Yes           36
Name: Attrition, dtype: int64

### Hypothesis 10.
__Sales executive are leaving the company, as a result Attrition rate is high__

In [113]:
Attrtion_job_role = df.groupby('Attrition')
Attrtion_Gender.get_group('Yes')['JobRole'].value_counts()

Sales Executive              165
Research Scientist           159
Laboratory Technician        126
Healthcare Representative     57
Research Director             57
Manufacturing Director        48
Manager                       42
Sales Representative          36
Human Resources               21
Name: JobRole, dtype: int64

### Hypothesis 11.
__Attrition rate is high for the people with median salary less than 50,000__

In [125]:
# df['MonthlyIncome']
Attrtion_age = df.groupby('Attrition')

Attrtion_age.get_group('Yes')['MonthlyIncome'].median()

49080.0