# Applying statistical tests for attrition dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('general_data.csv')

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

###  1) Ho=>There is no dependency between Attrition and Gender

In [16]:
df_new = df.dropna()

In [17]:
from scipy.stats import chi2_contingency

In [18]:
chitable = pd.crosstab(df_new.Attrition,df_new.Gender)
chitable

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [19]:
stats,p,dof,expected = chi2_contingency(chitable)

In [20]:
print(stats,p)

1.3825823839528295 0.23966176275638887

### Ho is accepted as p value is greater than 0.05

###  2) Ho=>There is no dependency between Attrition and BusinessTravel

In [21]:
chitable = pd.crosstab(df_new.Attrition,df_new.BusinessTravel)
chitable

BusinessTravel  Non-Travel  Travel_Frequently  Travel_Rarely
Attrition
No                     412                621           2644
Yes                     36                204            465

In [22]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

70.07594084831366 6.07019702736392e-16

### Ho is rejected, there is a dependency between Attrition and BusinessTravel

###  3) Ho=>There is no dependency between Attrition and Department

In [23]:
chitable = pd.crosstab(df_new.Attrition,df_new.Department)
chitable

Department  Human Resources  Research & Development  Sales
Attrition
No                      132                    2416   1129
Yes                      55                     449    201

In [24]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

25.89432541916022 2.382970570769315e-06

### Ho is rejected, there is dependency between Attrition and Department

###  4) Ho=>There is no dependency between Attrition and EducationField

In [25]:
chitable = pd.crosstab(df_new.Attrition,df_new.EducationField)
chitable

EducationField,Human Resources,Life Sciences,Marketing,Medical,Other,Technical Degree
Attrition,,,,,,
No,48,1505,400,1163,214,347
Yes,32,301,75,222,30,45

In [26]:
stats,p,dof,expected = chi2_contingency(chitable)
print(stats,p)

43.132860148900384 3.472896220587872e-08

### Ho is rejected, there is dependency between Attrition and EducationField

### there is no dependency between YearsSinceLastPromotion and YearsWithCurrManager

In [27]:
from scipy.stats import mannwhitneyu

In [34]:
stats,p = mannwhitneyu(df_new.YearsSinceLastPromotion,df_new.YearsWithCurrManager)
print(stats,p)

5883635.5 5.933743928610898e-224

### Ho is accepted