__Question 1:__
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [8]:
email = input()
print(email.split('@')[1].split('.')[0])

john@google.com
google

__Question 2:__
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [38]:
string = input()
print(",".join(sorted(string.split(','))))

without,hello,bag,world
bag,hello,without,world

__Question 3:__
Create your own Jupyter Notebook for Sets

# SETS

__Set can be thought of simply as a well-defined collection of distinct objects, typically called elements or members.__

<img src="set.png" width="800" />

__A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements__

__Since it is unordered,we cannot access using index__

### Defining a Set 
__It can be created two ways__
 - using built-in set() function
 - using curly braces

In [5]:
# x = set(<iter>)built-in
x = set(['a', 'b', 'c', 'd', 'e'])
x

{'a', 'b', 'c', 'd', 'e'}

In [6]:
#curly braces x = {<obj>, <obj>, ..., <obj>}
x = {'a','b','c','d','e'}
x

{'a', 'b', 'c', 'd', 'e'}

### Size and membership
__len() function returns the number of elements, "in" and "not in" operators can be used to test membership__

In [11]:
#len()
x = {'a', 'b', 'c'}
len(x)

3

In [12]:
#membership
print('b' in x)
print('d'in x)

True
False

### Modifying a Set
__Once a set is created, you cannot change its items, but you can add new items.__
- UPDATE

Updates the element

In [14]:
#Update
x = {"a", "b", "c"}

x.update(["bat", "ball", "hat"])

print(x)

{'c', 'ball', 'bat', 'a', 'b', 'hat'}

- ADD

Adds an element to a set.

In [15]:
x = {"bat", "ball", "hat"}

x.add("wicket")

print(x)

{'wicket', 'ball', 'hat', 'bat'}

- REMOVE 
- DISCARD

Removes an element from the set

In [17]:
x = {"bat", "ball", "hat"}

x.remove("hat")
print(x)
x.discard("ball")
print(x)

{'ball', 'bat'}
{'bat'}

- OTHER common operations

In [25]:
#Clear the set
x = {"bat", "ball", "hat"}
x.clear()
print(x)

#Delete the set
x = {"bat", "ball", "hat"}
del x

#JOIN two sets using UNION
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print("union operation:", set3)

#Copy Returns a copy of set

fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print("copy of fruits is :",x)

set()
union operation: {1, 'c', 2, 3, 'b', 'a'}
copy of fruits is : {'banana', 'cherry', 'apple'}

### Rest other built-in methods available
- __difference()	Returns a set containing the difference between two or more sets__

- __difference_update()	Removes the items in this set that are also included in another, specified set__

- __intersection()	Returns a set, that is the intersection of two other sets__

- __intersection_update()	Removes the items in this set that are not present in other, specified set(s)__

- __isdisjoint()	Returns whether two sets have a intersection or not__

- __issubset()	Returns whether another set contains this set or not__

- __issuperset()	Returns whether this set contains another set or not__

- __symmetric_difference()	Returns a set with the symmetric differences of two sets__

- __symmetric_difference_update()	inserts the symmetric differences from this set and another__

__Question 4:__
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5

In [26]:
def missing_number(lst): 
    n = len(lst) 
    total = (n + 1)*(n + 2)/2
    sum_lst = sum(lst) 
    return total - sum_lst 
  
#main program
lst = list(map(int,input().strip().split())) 
print(int(missing_number(lst)))

1 2 4 6 3 7 8
5

__Question 5:__
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [37]:
def remove_duplicate(lst): 
    final_list = [] 
    for num in lst: 
        if num not in final_list: 
            final_list.append(num) 
    return final_list 
      
#main program
lst = list(map(int,input().strip().split())) 
for i in remove_duplicate(lst):
    print(i,end= " ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155